
    <div class="form-box">
        <div class="header">Profile</div>
        <form method="post" action="{% url "profile" %}">
            <div class="body bg-gray">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field }}
                        {{ field.error }}
                    </div>
                {% endfor %}
            </div>
            <div class="footer">
                <input type="submit" value="Save" class="btn bg-dark-teal btn-block">
            </div>
        </form>
    </div>