
    <div class="form-box">
        <div class="header">Upload a pdf document</div>
        <form enctype="multipart/form-data" method="post" action="{% url "upload_data" %}">
            <div class="body bg-gray">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field }}
                        {{ field.error }}
                    </div>
                {% endfor %}
                <p><em>Note: If this file successfully uploads, insights from this data will
                    automatically reflect in the analytics on the dashboard.</em></p>
            </div>
            <div class="footer">
                <input type="submit" value='Upload' class="btn bg-dark-teal btn-block">
            </div>
        </form>
    </div>